
blinker==1.4
brotlipy==0.7.0
contourpy==1.0.6
Faker==15.3.4
favicon==0.7.0
fonttools==4.38.0
htbuilder==0.6.1
kiwisolver==1.4.4
Markdown==3.4.1
markdownlit==0.0.5
more-itertools==9.0.0
munkres==1.1.4
pandas==1.5.2
Pillow==9.3.0
protobuf==3.20.1
pyarrow==8.0.0
pymdown-extensions==9.9
st-annotated-text==3.0.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.2.4
streamlit-faker==0.0.2
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
webencodings==0.5.1
